@import "seattletimes";

.outer {
  max-width: 960px;
  font-family: @df-sans;
  // border-top: 1px solid @df-border-gray;
  // border-bottom: 1px solid @df-border-gray;
  padding: 20px 0;
  margin: 20px auto;
}

.title {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}
.chatter {
  border: 1px solid @df-light-gray;
  margin-top: 20px;
  font-size: 17px;
  margin-bottom: 15px;
  font-family: @df-serif;
  background: @df-off-white;
  border-radius: 4px;
  padding: 30px 40px;

  @media @tablet {
    font-size: 14px;
    padding: 20px 25px;
  }

  .click {
    font-size: 15px;
    padding-top: 15px;

    @media @tablet {
      font-size: 13px;
    }
  }

  .mugshot {
    // margin: auto;
    // display: block;
    max-height: 160px;
    margin-bottom: 10px;

    &.hide {
      display: none;
    }
  }
  .company {
    font-family: @df-sans;
    font-size: 20px;
    font-weight: bold;

    @media @tablet {
      font-size: 18px;
    }
  }
  .info-text {
    font-size: 14px;
    padding-bottom: 5px;

    &.small {
      font-family: @df-sans;
      font-size: 14px;
      margin-bottom: 5px;
    }
    &.large {
      padding-bottom: 15px;
    }
  }
  .label {
    margin-right: 3px;
    margin-bottom: 5px;
    letter-spacing: 0.08em;
    background: @df-light-gray;
    // color: white;
    font-weight: bold;
    padding: 3px 6px 2px 6px;
    text-transform: uppercase;
    font-family: @df-sans;
    display: inline-block;
    border-radius: 2px;
    font-size: 10px;
  }
  .text {
    // display: inline-block;
  }
  .info {
    padding-top: 3px;
  }
}

.key-box {
  padding-top: 10px;
}

.key {
  font-size: 14px;
  display: inline-block;

  .swatch, .label {
    display: inline-block;
    vertical-align: top;
  }
  .label {
    padding-right: 10px;
  }
  .swatch {
    border-radius: 50%;
    background: black;
    height: 15px;
    width: 15px;
    margin-right: 2px;
  }
}

.flex-container {
  // .align-items(center);
  .display-flex();

  @media @break {
    display: block;
  }

  .flex-left {
    .flex(3);
  }
  .flex-right {
    .flex(2);
    padding-left: 40px;

    @media @break {
      padding-left: 0;
    }

    @media @mobile {
      padding-left: 0;
    }
  }
}

.graphic {
  text-align: center;
  position: relative;

  &::before {
    content: "";
    display: block;
    padding-bottom: percentage(500/554);
  }

  svg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

circle.hovered, circle.clicked {
  stroke-width: 2px;
  stroke-opacity: 1.0;
  stroke: @df-middle-gray;
}
path.hovered, path.clicked {
  stroke-width: 2px;
  stroke: @df-dark-gray;
}
.hovered circle, .clicked circle {
  &.st1 {
    fill: darken(#C7BBDC, 15%);
  }
  &.st2 {
    fill: darken(#A8C7BC, 15%);
  }
}

.hovered text.name, .clicked text.name {
  fill: black;
}

g {
  cursor: pointer;
}

text.name {
  font-size: 12px;
  font-weight: bold;
  fill: @df-dark-gray;
}

.background-label {
  display: none;
  fill: @df-off-white;
  border-radius: 10px;
  z-index: 9999;
}

.source {
  font-style: italic;
}
.credit {
  padding-top: 2px;
}
.source, .credit {
  text-align: right;
  font-size: 11px;
  color: rgba(0,0,0,.4);
}