<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
      <div class="outer">

        <div class="flex-container">
        
          <div class="flex-left">
            <div class="graphic"><%= t.include("./assets/real_networks.svg") %></div>
          </div>

          <div class="flex-right">

            <div class="key-box">
              <div class="key"><div class="swatch" style="background: #C7BBDC"></div> <div class="label">Person</div></div>
              <div class="key"><div class="swatch" style="background: #a8c7bc"></div> <div class="label">Company</div></div>
            </div>

            <div class="chatter">In the past xx years, fourteen former RealNetworks employees have gone on to found their own tech companies. Click on a circle to learn more.</div>
          </div>
        </div>

        <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
      </div>
    </responsive-child>

    <script>
      var companyData = <%= JSON.stringify(json.RealNetworks_Companies) %>;
      var personData = <%= JSON.stringify(json.RealNetworks_Nodes) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
