<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
      <div class="outer">

        <div class="flex-container">
        
          <div class="flex-left">
            <div class="graphic"><%= t.include("./assets/real_networks.svg") %></div>
          </div>

          <div class="flex-right">

            <div class="key-box">
              <div class="key"><div class="swatch" style="background: #9D88C2"></div> <div class="label">Person</div></div>
              <div class="key"><div class="swatch" style="background: #79A998"></div> <div class="label">Company</div></div>
            </div>

            <div class="chatter">More than a dozen RealNetworks grads have gone on to start their own businesses after leaving the digital media company. Here are 14 entrepreneurs that have launched companies in the Puget Sound region after their RealNetworks tenure. 
              <div class="click"><em>Click on a circle to learn more about a company or a founder.</em></div>
            </div>
            <div class="source">Sources: Seattle Times, The Seattle Tech Universe, LinkedIn</div>
            <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
          </div>
        </div>
      </div>
    </responsive-child>

    <script>
      var companyData = <%= JSON.stringify(json.RealNetworks_Companies) %>;
      var personData = <%= JSON.stringify(json.RealNetworks_Nodes) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
